
:root { 
    --color-primary-light-red: hsl(0, 100%, 67%);
    --color-primary-orange: hsl(39, 100%, 56%);
    --color--primary-teal: hsl(166, 100%, 37%);
    --color--primary-blue: hsl(234, 85%, 45%);

    --color--background-gradient-slate: hsl(252, 100%, 67%);
    --color--background-gradient-blue: hsl(241, 81%, 54%);

    --color--circle-gradient-violet: hsl(256, 72%, 46, 1);
    --color--circle-gradient-persian-blue: hsl(241, 72%, 46%, 0);

    --color-neutral-white: hsla(0, 0%, 100%, 1);
    --color-neutral-light-blue: hsl(221, 100%, 96%);
    --color-neutral-lavender: hsl(241, 100%, 89%);
    --color-neutral-dark-blue: hsl(241, 30%, 27%);


    font-size: 18px;
    
    font-synthesis: none;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* Set core body defaults */
  html, body {
   background: var(--color-neutral-background);

  }
   
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img,
  picture, 
  svg {
    max-width: 100%;
    display: block;
  }
  
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
  /*------------------------------------ End of Reset -----------------------------*/
  
  /*------------------------------------ Mobile first ---------------------*/
 
 


  /*----- Tablet sizing -----*/
  @media (min-width: 785px) {

    
  
  }
  /*----- Desktop styling -----*/

@media (min-width: 1440px) {
  
}


 /*-- Utility classes --*/
  
 button { 
  cursor: pointer;
  background: var(--color-neutral-dark-blue);
  color: var(--color-neutral-white);
  border: none;
  padding: 1rem 2rem;
  border-radius: 30px;
  width: 100vw;
  margin-bottom: 3em;
  margin-top: auto;
}



button:hover {

  background-color: var(--color--primary-blue);
  
}




